
  <form class="modal-content"  (ngSubmit)="login()">
      <div class="container">
        <h1>Login</h1>
        <p>Please fill in your details</p>
        <hr>
        <label for="email"><b>Email</b></label>
          <input
            type="text"
            placeholder="Enter Email"
            name="email"
            [(ngModel)]="model.email"
          >

        <div class='form-group'>
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Password"
            name="psw"
            [(ngModel)]="model.password"
          >
        </div>

        <div class="clearfix">
          <button type="submit" (click)="register()" class="signupbtn">Login</button>
        </div>
      </div>
  </form>

