<div id="list-dropdown">
    <div id="myDropdown" class="dropdown-content">
        <button class="btn" (click)="deletePost()"><i class="fa fa-trash"></i></button>
        <button class="btn" (click)="openModal()"><i class="fa fa-edit"></i></button>
    </div>
</div>

<div [style.display]="modalDisplay" class="modal">
    <form class="modal-content animate" (ngSubmit)="editPost()">
      <div class="imgcontainer">
        <span (click)="openModal()" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label for="title"><b>Title</b></label>
        <span *ngIf="errorMessage.title" [style.color]="errorColor">{{errorMessage.title}}</span>
        <input
          class='edit-input'
          type="text"
          placeholder="Enter new title"
          name="title"
          [(ngModel)]="model.title"
        >

        <label for="content"><b>Content</b></label>
        <span *ngIf="errorMessage.content" [style.color]="errorColor">{{errorMessage.content}}</span>
        <textarea
          class="edit-input"
          name="content"
          placeholder="Enter new content..."
          [(ngModel)]="model.content"
        ></textarea>

        <button class="edit-btn" type="submit">Edit</button>
      </div>
    </form>
</div>
