.quote {
  font: 400 72px "Arizonia", Helvetica, sans-serif;
  color: #858A7A;
  text-align: center;
}

.post-info {
  color: #858A7A;
  font-family: 'Poiret One', cursive;
  width: 440px;
}

.bold {
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #BCADAD;
  font-family: 'Poiret One', cursive;
}

.topnav.below {
  background-color: #ECE1E1;
}

.tag-link {
  color: black !important;
}

.profile-img {
  border: solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

a.profile-link {
  float: right !important;
  margin-right: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #948383;
  color: white;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-top-style: solid;
  border-top-color: #948383;
  border-top-width: thin;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
}

.container {
  padding: 2px 16px;
  width: 100%;
  margin-left: inherit;
}

.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #858A7A;
}

.dropdown {
  float: right !important;
  margin-right: 50px;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  margin-top: 1px;
  border: solid 1px #eee;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ECE1E1;
}

.nav-content {
  margin-left: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #BCADAD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ECE1E1;
}

.post_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.your-blogs {
  display: -webkit-box;
  width: 50%;
  margin-left: 350px;
}

.home-page {
  margin-left: 50px;
}

.blog-button-left {
  height: 40px;
  width: 80px;
}

.blog-button-right {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
}

.blog-group-btn {
  display: -webkit-box;
}

.blog-right {
  margin-left: 230px;
}
