<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
    <span class="current-user">{{currentUser.username}}</span>
    <div class="dropdown">
      <a class="profile-link dropbtn">
        <img
          src="https://res.cloudinary.com/doy0uyv63/image/upload/v1513431912/Screen_Shot_2017-12-16_at_2.38.38_PM_bxpyhd.png"
          alt=""
          class="profile-img"
        >
      </a>
      <div class="dropdown-content">
        <a [routerLink]="['/publish']">create post</a>
        <a [routerLink]="['/dashboard']">dashboard</a>
        <a href="#">logout</a>
      </div>
    </div>
  </div>

  <div class='home-page'>
      <div class="your-blog-heading">
      <h1 class="post-info bold">Other blogs</h1>
      </div>
      <div *ngIf="loading === true" class="page-loader"></div>
      <div *ngIf="blogPosts.length===0 && loading===false">You do not have any blog posts</div>
      <div *ngIf="blogPosts" >
          <div *ngFor="let post of blogPosts let i=index"  class="your-blogs">
              <div class="card">
                <a class="post-title" [routerLink]="['/post', post.id]">
                  <p class="quote">{{post.title}}</p>
                </a>
                <div class="follow-wrapper">
                    <span class="post-creator">Created By: {{post.author}}</span>
                    <div *ngIf="post.user_id !== currentUser.id">
                        <app-follow-user
                        [userId] = "post.user_id"
                        [postIndex] = "i"
                        [currentUser] = "currentUser"
                      >
                      </app-follow-user>
                    </div>
                </div>

                <hr>
                <div class="container">
                  <div class="blog-group-btn">
                      <app-like-blog-post
                        [postId]="post.id"
                        [authorId]="post.user_id"
                      ></app-like-blog-post>
                  </div>
                  <hr>
                  <div class="post-comment">
                      <app-comment-on-blog-post
                        [postIndex] = "i"
                        [postId] = "post.id"
                        [currentUser] = "currentUser"
                      ></app-comment-on-blog-post>
                    </div>
                </div>
              </div>
            </div>
      </div>
  </div>

